#include <iostream>
using namespace std;
int main() {
    int i,j;
    int num;
    int x = 0;
    int y;
    int elem ;
    int tot = 10;
    int found = 0;
    int arr[5] = { 20,40,50,60 };
    string ans;
    // string yes ;
    cout << "\n do you want add any element (say only yes or no) : \n";
    cin >> ans;

    if (ans == "yes")
    {
         
        cout << "\nEnter Element to Insert: ";
        cin >> arr[4];
        for (i = 0; i < 5; i++) 
        {
           

        }
    }
    
    cout << "\n do you want remove any element(say only yes or no) : \n";
    cin >> ans;
    if (ans == "yes")
    { 
        
        cout << "\nenter element to be deleted: ";
        
         cin >> elem;
        for (i = 0; i < tot; i++)
        { 
            

            if (arr[i] == elem)
            {
                for (j = i; j < (tot - 1); j++)
                    arr[j] = arr[j + 1];
                found++;
                i--;
                tot--;
            }
        }


         
    }

    cout << "\n Enter Element to be Searched : \n";
    cin >> num;
    for (i = 0; i < 5; i++)
    {
        if (arr[i] == num)
        {
            x = 1;
            y = i + 1;
            break;
        }
    }
    if (x == 0)
    {
        cout << "\n Element Not Found..!!";
    }
    else
    {
        cout << "\n Element " << num << " Found At Position " << y;
    }


    return 0;
}
